<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Login</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="sign-in.css" th:href="@{/sign-in.css}" rel="stylesheet">
    </head>
    <body class="text-success text-center">
        <form class="form-signin" action="#" th:action="@{/}" method="post">
            <img class="mb-4" src="../static/img/1logo%20oficIal%20SIGENE.png" th:src="@{/img/Logo%20Sigene%202020.png}" alt="" height="110" width="290">
            <h1 class="h3 mb-3 font-weight-normal text-success"><b class="text-primary">Digite o Login</b></h1>
            <label for="inputEmail" class="sr-only">Email address</label>             
            <input name="username" type="text" id="inputUser" class="form-control text-success" required autofocus placeholder="Login"> 
            <label for="inputPassword" class="sr-only">Password</label>             
            <input name="password" type="password" id="inputPassword" class="form-control text-success" placeholder="Senha" required>
            <div class="checkbox mb-3">
                <label> 
                    <label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; 
                        <input name="remember-me" type="checkbox" value="remember-me">&nbsp;Lembre de mim&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </label>
                </label>
            </div>
            <button class="btn btn-lg btn-block btn-success">Entrar</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" class="btn btn-primary btn-user btn-block"/>
            <span th:if="${param.error}"> <span style='color: red' th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span> </span>
            <p class="mt-5 mb-3 text-success">© CPD</p>
        </form>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="../assets/js/popper.js" th:src="@{/assets/js/popper.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
